/* ==== General Styling ==== */
html {
    scroll-behavior: smooth;
  }
  
body {
    background-color: #070e1e;
}

h1, h2, h3, h4 {
    font-family: 'Archivo Narrow', sans-serif;
    margin-bottom: 1rem !important;
    line-height: 1.2;
}

nav a {
    font-size: 1.2rem;
}

a.navbar-item:hover, a.navbar-item:active, a.navbar-item:focus, a.navbar-item:focus-within {
    background: transparent !important;
    color: inherit !important;
}

p, nav a {
    font-family: 'Consolas', sans-serif;
    font-weight: 400;
    /* font-size: 1.2rem; */
}

p {
    line-height: 1.3;
}

.wrapper {
    max-width: 60%;
    margin: 0 auto;
}

.seperator {
    height: 1px;
    background-color: #f0f2f6;
}

/* ==== Navigation Styling ==== */
.main-nav {
    position: fixed !important;
    width: 100%;
    top: 0;
    transition: ease-in-out .3s;
    background-color: #070e1e !important;
    -webkit-box-shadow: 0px 11px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 11px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 11px 9px 0px rgba(0,0,0,0.75);
}

.navbar-brand {
    padding-left: 2rem;
}

.navbar-menu {
    padding-right: 2rem;
}

.hide-nav {
    top: -100px;
}

.nav-custom {
    align-items: center !important;
}


/* ==== Loading ==== */
.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: red;
    z-index: 99999;
}


/* ==== Home Styling ==== */
.arrow-container {
    padding-top: 4.5rem;
}


/* ==== Projects Styling ==== */
.card-container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.project-card {
    width: 33%;
    display: inline-block;
}

.project-container {
    padding: 2rem;
}

.image-container {
    padding: 2rem 0;
    border-top: 1px solid #8892b0;
    border-bottom: 1px solid #8892b0;
}

.monitor {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    height: 7rem;
    border: 1px solid #8892b0;
}

.project-title {
    width: 100%;
}

.monitor-stand {
    height: 1rem;
    width: 50%;
    margin: auto;
    border: 1px solid #8892b0
}

.custom-img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.text-container {
    border-bottom: 1px solid #8892b0;
    padding-top: .5rem;
    padding-bottom: .5rem;
    min-height: 9rem;
}

.project-text {
    margin-bottom: 1rem;
}

.project-deployment {
    padding: 0 !important;
    margin-top: .5rem;
}

.deploy-location {
    display: flex;
    justify-content: space-between;
}

svg:hover, svg:hover .full-fill {
    cursor: pointer;
    fill:#183068;
    transition: ease-out .3s;
}


/* ==== About Styling ==== */
.about-container {
    padding: 2rem;
}

.leyline-box {
    display: flex;
    justify-content: space-between;
}

.leyline {
    background-color: #243c56;
    height: 7px;
    padding: 0 !important;
}

.short {
    width: 10%;
}

.long {
    width: 80%;
}

.box-container {
    width: 80%;
    margin: auto;
}

.tech-box {
    border: 1px solid #243c56;
}

.skill-text {
    padding: .5rem;
}

.ptb {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.pt {
    padding-top: 5rem;
}

.pb {
    padding-bottom: 5rem;
}

/* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:active:before {
    right: 0;
  }
  /*
    .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }
  */



/* ==== Contact Styling ==== */
.some-box {
    display: flex;
    justify-content: center;
} 

.some-icon {
    padding: 1rem;
}

/* ==== Mediaquries max-width 500px ==== */
@media screen and (max-width: 500px) {
    .project-card {
        width: 80% !important;
        margin: auto;
        display: block;
    }
  }


/* ==== Mediaquries max-width 768px ==== */
@media screen and (max-width: 768px) {
    .box-container {
        width: 100%;
        margin: auto;
    }
    
    .project-card {
        width: 50%;
        margin: auto;
        display: block;
    }
  }


/* ==== Mediaquries max-width 960px ==== */
@media screen and (max-width: 960px) {
    .wrapper {
      max-width: 90%;
    }
  }


    /* ==== Mediaquries max-width 1216px ==== */
@media screen and (min-width: 1216px) {
    .box-container {
        width: 60%;
        margin: auto;
    }

    .wrapper {
        max-width: 50%;
      }
  }