/* ==== General Styling ==== */
body {
    background-color: #070e1e;
}

h1, h2, h3, h4 {
    font-family: 'Archivo Narrow', sans-serif;
    margin-bottom: 1rem !important;
    line-height: 1.2;
}

p, nav a {
    font-family: 'Consolas', sans-serif;
    font-weight: 400;
    /* font-size: 1.2rem; */
}

p {
    line-height: 1.3;
}

.wrapper {
    max-width: 60%;
    margin: 0 auto;
}

#seperator {
    height: 1px;
    background-color: #f0f2f6;
}

/* ==== Navigation Styling ==== */
#main-nav {
    background-color: #070e1e;
    -webkit-box-shadow: 0px 11px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 11px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 11px 9px 0px rgba(0,0,0,0.75);
}

/* ==== Home Styling ==== */
.arrow-container {
    padding-top: 4.5rem;
}

/* ==== Projects Styling ==== */
#projects {
    height: 100%;
}

.project-container {
    padding: 2rem;
}

.image-container {
    padding: 2rem 0;
    border-top: 1px solid #8892b0;
    border-bottom: 1px solid #8892b0;
    /* background-image: url("../assets/svg/laptop-icon.svg"); */
}

.monitor {
    /*width: 100%;*/
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    height: 7rem;
    border: 1px solid #8892b0;
}

.project-title {
    width: 100%;
}

.monitor-stand {
    height: 1rem;
    width: 50%;
    margin: auto;
    border: 1px solid #8892b0
}

.custom-img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.text-container {
    border-bottom: 1px solid #8892b0;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.project-text {
    margin-bottom: 1rem;
}

.project-deployment {
    padding: 0 !important;
    margin-top: .5rem;
}

.deploy-location {
    display: flex;
    justify-content: space-between;
}

svg:hover, svg:hover .full-fill {
    cursor: pointer;
    fill:#183068;
    transition: ease-out .06s;
}


/* ==== About Styling ==== */
.about-container {
    padding: 2rem;
}

.leyline-box {
    display: flex;
    justify-content: space-between;
}

.leyline {
    background-color: #243c56;
    height: 7px;
    padding: 0 !important;
}

.short {
    width: 10%;
}

.long {
    width: 80%;
}

.box-container {
    width: 80%;
    margin: auto;
}

.tech-box {
    border: 1px solid #243c56;
}

.skill-text {
    padding: .5rem;
}

.ptb {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.pt {
    padding-top: 5rem;
}

.pb {
    padding-bottom: 5rem;
}



/* ==== Contact Styling ==== */
.some-box {
    display: flex;
    justify-content: center;
} 

.some-icon {
    padding: 1rem;
}


  /* ==== Mediaquries max-width 768px ==== */
@media screen and (max-width: 768px) {
    .box-container {
        width: 100%;
        margin: auto;
    }
  }


/* ==== Mediaquries max-width 960px ==== */
@media screen and (max-width: 960px) {
    .wrapper {
      max-width: 90%;
    }
  }


    /* ==== Mediaquries max-width 1216px ==== */
@media screen and (min-width: 1216px) {
    .box-container {
        width: 60%;
        margin: auto;
    }

    .wrapper {
        max-width: 50%;
      }
  }